For each of the 3 parts:
– how you tested that part specifically
– any possible shortcomings of your testing approach